@import-normalize;

@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

html {
  box-sizing: border-box;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: rgb(13, 13, 13);
}

// https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
}
